@import "tailwindcss";

@theme {
  --color-bg-primary: #0B0B0F;
  --color-bg-card: #111118;
  --color-bg-secondary: #1A1A2E;
  --color-accent: #6C63FF;
  --color-accent-hover: #7C74FF;
  --color-income: #22C55E;
  --color-expense: #EF4444;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #A1A1AA;
  --color-border-app: #3F3F46;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

/* Customização da Scrollbar para combinar com o Tema */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-primary); 
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-app); 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-secondary); 
}